{
  "presets": ["react", "stage-0", "es2015"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    "transform-async-to-generator",
    "syntax-async-functions",
    "transform-runtime"
  ]
}
